@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

body,
html {
	@apply bg-seasalt;
}

* {
	font-family: 'Poppins', sans-serif;
}

.section-light {
	@apply flex justify-center px-6 py-12 md:py-20;
}

.section-night {
	@apply bg-grain;
	@apply flex w-full justify-center bg-night px-6 py-20;
	clip-path: polygon(0% 0%, 100% 2rem, 100% calc(100% - 2rem), 0% 100%);
}

::-webkit-scrollbar {
	width: 0; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: #ff0000;
}
